<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood Donation Portal</title>
         <link rel="stylesheet" href="/static/css/addblood.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
  </head>
  <body>
    <div id="hearts-container"></div>

    <div class="fixed-call-icon">
      <i class="fas fa-phone"></i>
    </div>
    <div class="fixed-call-text">
      <span>Hotline Toll Free</span>
      <span>324649</span>
      <span>9 AM to 6 PM</span>
    </div>

    <a href="{% url 'home' %}" class="home-button" title="Go back to home">
      <i class="fas fa-home"></i>
    </a>

    <header>
      <h1>
        <span>B</span>
        <span>l</span>
        <span>o</span>
        <span>o</span>
        <span>d</span>
        <span>&nbsp;</span>
        <span>D</span>
        <span>o</span>
        <span>n</span>
        <span>a</span>
        <span>t</span>
        <span>i</span>
        <span>o</span>
        <span>n</span>
        <span>&nbsp;</span>
        <span>P</span>
        <span>o</span>
        <span>r</span>
        <span>t</span>
        <span>a</span>
        <span>l</span>
      </h1>
      <ul class="menu">
        <div class="toggle"></div>
        <li style="--i:0;">
          <a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></a>
        </li>
        <li style="--i:1;">
          <a href="{% url 'contact' %}"><i class="fas fa-info-circle"></i></a>
        </li>
        <li style="--i:2;">
          <a href=""><i class="fas fa-tint"></i></a>
        </li>
        <li style="--i:3;">
          <a href=""><i class="fas fa-heartbeat"></i></a>
        </li>
        <li style="--i:4;">
          <a href="{% url 'aboutus' %}"><i class="fas fa-user"></i></a>
        </li>
        <li style="--i:5;">
          <a href=""><i class="fas fa-phone-alt"></i></a>
        </li>
        <li style="--i:6;">
          <a href="{% url 'setting' %}"><i class="fas fa-cog"></i></a>
        </li>
        <li style="--i:7;">
          <a href="{% url 'request' %}"><i class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </header>

    <div class="container">
      <section class="donate-blood">
        <h2>Donate Blood</h2>
        <p>
          Across Bangladesh, every day there remains an urgent need for all types of blood groups. Especially donors with rare blood groups such as O Negative, B Negative and A Negative are in high demand. Your timely response is essential to the supply of healthy blood for the massive daily demand we face.
        </p>
        <p>
          Your donation can save the lives of many, make a difference or simply make you feel great about your contribution to humanity. Whatever your reason, whatever your motivation we welcome you to learn more about eligibility and benefits of donating blood with a trusted organization like us.
        </p>
        <p>
          Find out more about local blood drives and BDRCS campaigns near you. Donate blood, save lives.
        </p>
        <p><strong>Hotline: 01811458524 (9.00 AM to 5.00 PM)</strong></p>

        <h3>To Donate or Get Blood:</h3>
        <table>
          <thead>
            <tr>
              <th>Location</th>
              <th>Center Name</th>
              <th>Contact</th>
              <th>Address</th>
              <th>Telephone</th>
              <th>Hotline</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dhaka</td>
              <td>Red Crescent Blood Center</td>
              <td>Dr. Zahidur Rahman-In-charge: 01711604266</td>
              <td>7/5, Aurongzeb Road, Mohammadpur, Dhaka.</td>
              <td>PABX – 02 48121182, Direct – 02 223310368</td>
              <td>01811 458537</td>
            </tr>
            <tr>
              <td>Dhaka</td>
              <td>Holy Family Red Crescent Blood Center</td>
              <td>Center No: 01811 458536</td>
              <td>1st Floor, Out Door, 1 Eskaton Garden Road, Dhaka</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Chattogram</td>
              <td>Fatema Begum Red Crescent Blood Center</td>
              <td>Dr. Minhaz Uddin Taher, In-Charge: 01815 850533</td>
              <td>395 Anderkilla, Chattogram</td>
              <td>Center No: 031 620926, 01819 353445</td>
              <td></td>
            </tr>
            <tr>
              <td>Jashore</td>
              <td>Ahad Red Crescent Blood Center</td>
              <td>Dr. Md. Kamrul Hasan, In-Charge: 01939 109722</td>
              <td>Munshi Mehabullah Road, Jashore</td>
              <td>Center No: 0421 68882, 01718 802794</td>
              <td></td>
            </tr>
            <tr>
              <td>Dinajpur</td>
              <td>Begum Tayeeba Mojumder Red Crescent Blood Center</td>
              <td>Fazlul Karim, ULO, In-Charge: 01765 311450, 01944 354776</td>
              <td>1 New Town, Dinajpur</td>
              <td>Center No: 0531 61300, 01723 595972, 01717 184539</td>
              <td></td>
            </tr>
            <tr>
              <td>Sylhet</td>
              <td>Mujib Jahan Red Crescent Blood Center</td>
              <td>Dr. Tawhid Chowdhury, In-Charge: 01611 300900</td>
              <td>Chowhatta, Sylhet</td>
              <td>Center No: 0821 724098</td>
              <td></td>
            </tr>
            <tr>
              <td>Natore</td>
              <td>Natore Red Crescent Blood Center</td>
              <td>Mrs. Shammi Akter (Admin): 01792 774841, 01725 097292</td>
              <td>Hospital Road, Natore</td>
              <td>Center No: 01850 124225, 0771 66961</td>
              <td></td>
            </tr>
            <tr>
              <td>Rajshahi</td>
              <td>Rajshahi Red Crescent Blood Center</td>
              <td>Md. Mobarak Ali, In-Charge: 01865 055075</td>
              <td>Rajshahi District Road, Rajshahi</td>
              <td>Center No: 01556 333821</td>
              <td></td>
            </tr>
            <tr>
              <td>Magura</td>
              <td>Achia Khatun Memorial Red Crescent Blood Center</td>
              <td>Md. Sohrab Hossain, In-Charge: 01913 137366</td>
              <td>Jhenidah Road, Stadium Para, Magura</td>
              <td>Center No: 01941 989198</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>

    <footer>
      <p>
        &copy; 2016 - 2025 by AisWar, Adita and Anisa | Designed
        and Developed by A & W
      </p>
      <p>
        <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> |
        <a href="#">Accessibility Statement</a> |
        <a href="#">Site Map</a>
      </p>
    </footer>
     <script src="/static/js/addblood.js"></script>
  </body>
</html>