
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #c00;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

header h1 {
    margin: 0;
    animation: slideDown 1s ease-in-out;
}

header p {
    margin: 5px 0 0;
    animation: slideUp 1s ease-in-out;
}

#careers {
    padding: 20px;
}

.job-listing {
    background-color: #fff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job-listing:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.job-listing h3 {
    margin-top: 0;
}

.job-listing button {
    background-color: #c00;
    
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.job-listing button:hover {
    background-color: #a00;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: fadeIn 3s ease-in-out;
    font-weight: 600;
}

footer a {
    color: rgb(229, 33, 82);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
