
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(rgba(210, 194, 194, 0.4), rgba(207, 187, 187, 0.4)), 
                url('/static/br.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(rgba(210, 194, 194, 0.4), rgba(207, 187, 187, 0.4)), 
    url('/static/13th.jpeg') no-repeat center center/cover;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    animation: fadeIn 1s ease-in-out;
    overflow-y: auto;
    max-height: 90vh;
}

.container h2 {
    font-size: 22px;
    color: #d9534f;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
    text-align: left;
}

.input-box label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-box input, .input-box select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-box input:focus, .input-box select:focus {
    border-color: #d9534f;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background: #d9534f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

.submit-btn:hover {
    background: #c9302c;
}

.go-back-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s;
}

.go-back-btn:hover {
    background: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

